<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.professional_website.dao.AwardMapper">
  <resultMap id="BaseResultMap" type="com.turing.professional_website.entity.Award">
    <result column="awards_id" jdbcType="INTEGER" property="awardsId" />
    <result column="awards_time" jdbcType="DATE" property="awardsTime" />
    <result column="awards_name" jdbcType="VARCHAR" property="awardsName" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    awards_id, awards_time, awards_name, teacher_id
  </sql>
  <select id="selectByExample" parameterType="com.turing.professional_website.entity.AwardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from awards
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.turing.professional_website.entity.AwardExample">
    delete from awards
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.professional_website.entity.Award" useGeneratedKeys="true">
    insert into awards (awards_id, awards_time, awards_name,
      teacher_id)
    values (#{awardsId,jdbcType=INTEGER}, #{awardsTime,jdbcType=DATE}, #{awardsName,jdbcType=VARCHAR},
      #{teacherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.professional_website.entity.Award">
    insert into awards
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="awardsId != null">
        awards_id,
      </if>
      <if test="awardsTime != null">
        awards_time,
      </if>
      <if test="awardsName != null">
        awards_name,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="awardsId != null">
        #{awardsId,jdbcType=INTEGER},
      </if>
      <if test="awardsTime != null">
        #{awardsTime,jdbcType=DATE},
      </if>
      <if test="awardsName != null">
        #{awardsName,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.professional_website.entity.AwardExample" resultType="java.lang.Integer">
    select count(*) from awards
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update awards
    <set>
      <if test="record.awardsId != null">
        awards_id = #{record.awardsId,jdbcType=INTEGER},
      </if>
      <if test="record.awardsTime != null">
        awards_time = #{record.awardsTime,jdbcType=DATE},
      </if>
      <if test="record.awardsName != null">
        awards_name = #{record.awardsName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update awards
    set awards_id = #{record.awardsId,jdbcType=INTEGER},
      awards_time = #{record.awardsTime,jdbcType=DATE},
      awards_name = #{record.awardsName,jdbcType=VARCHAR},
      teacher_id = #{record.teacherId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

</mapper>