<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.professional_website.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.turing.professional_website.entity.Teacher" >
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="teacher_email" property="teacherEmail" jdbcType="VARCHAR" />
    <result column="teacher_born" property="teacherBorn" jdbcType="VARCHAR" />
    <result column="teacher_job" property="teacherJob" jdbcType="VARCHAR" />
    <result column="teacher_graduation" property="teacherGraduation" jdbcType="VARCHAR" />
    <result column="teacher_position" property="teacherPosition" jdbcType="VARCHAR" />
    <result column="teacher_research" property="teacherResearch" jdbcType="VARCHAR" />
    <result column="teacher_scientific_research" property="teacherScientificResearch" jdbcType="VARCHAR" />
    <result column="teacher_award_introduction" property="teacherAwardIntroduction" jdbcType="VARCHAR" />
    <result column="teacher_img" property="teacherImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    teacher_id, teacher_name, teacher_email, teacher_born, teacher_job, teacher_graduation, 
    teacher_position, teacher_research, teacher_scientific_research, teacher_award_introduction, 
    teacher_img
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.turing.professional_website.entity.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.turing.professional_website.entity.TeacherExample" >
    delete from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.professional_website.entity.Teacher" >
    insert into teacher (teacher_id, teacher_name, teacher_email, 
      teacher_born, teacher_job, teacher_graduation, 
      teacher_position, teacher_research, teacher_scientific_research, 
      teacher_award_introduction, teacher_img)
    values (#{teacherId,jdbcType=INTEGER}, #{teacherName,jdbcType=VARCHAR}, #{teacherEmail,jdbcType=VARCHAR}, 
      #{teacherBorn,jdbcType=VARCHAR}, #{teacherJob,jdbcType=VARCHAR}, #{teacherGraduation,jdbcType=VARCHAR}, 
      #{teacherPosition,jdbcType=VARCHAR}, #{teacherResearch,jdbcType=VARCHAR}, #{teacherScientificResearch,jdbcType=VARCHAR}, 
      #{teacherAwardIntroduction,jdbcType=VARCHAR}, #{teacherImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.professional_website.entity.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="teacherEmail != null" >
        teacher_email,
      </if>
      <if test="teacherBorn != null" >
        teacher_born,
      </if>
      <if test="teacherJob != null" >
        teacher_job,
      </if>
      <if test="teacherGraduation != null" >
        teacher_graduation,
      </if>
      <if test="teacherPosition != null" >
        teacher_position,
      </if>
      <if test="teacherResearch != null" >
        teacher_research,
      </if>
      <if test="teacherScientificResearch != null" >
        teacher_scientific_research,
      </if>
      <if test="teacherAwardIntroduction != null" >
        teacher_award_introduction,
      </if>
      <if test="teacherImg != null" >
        teacher_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null" >
        #{teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="teacherBorn != null" >
        #{teacherBorn,jdbcType=VARCHAR},
      </if>
      <if test="teacherJob != null" >
        #{teacherJob,jdbcType=VARCHAR},
      </if>
      <if test="teacherGraduation != null" >
        #{teacherGraduation,jdbcType=VARCHAR},
      </if>
      <if test="teacherPosition != null" >
        #{teacherPosition,jdbcType=VARCHAR},
      </if>
      <if test="teacherResearch != null" >
        #{teacherResearch,jdbcType=VARCHAR},
      </if>
      <if test="teacherScientificResearch != null" >
        #{teacherScientificResearch,jdbcType=VARCHAR},
      </if>
      <if test="teacherAwardIntroduction != null" >
        #{teacherAwardIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="teacherImg != null" >
        #{teacherImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.professional_website.entity.TeacherExample" resultType="java.lang.Integer" >
    select count(*) from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teacher
    <set >
      <if test="record.teacherId != null" >
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
      </if>
      <if test="record.teacherName != null" >
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherEmail != null" >
        teacher_email = #{record.teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherBorn != null" >
        teacher_born = #{record.teacherBorn,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherJob != null" >
        teacher_job = #{record.teacherJob,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherGraduation != null" >
        teacher_graduation = #{record.teacherGraduation,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherPosition != null" >
        teacher_position = #{record.teacherPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherResearch != null" >
        teacher_research = #{record.teacherResearch,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherScientificResearch != null" >
        teacher_scientific_research = #{record.teacherScientificResearch,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherAwardIntroduction != null" >
        teacher_award_introduction = #{record.teacherAwardIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherImg != null" >
        teacher_img = #{record.teacherImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teacher
    set teacher_id = #{record.teacherId,jdbcType=INTEGER},
      teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      teacher_email = #{record.teacherEmail,jdbcType=VARCHAR},
      teacher_born = #{record.teacherBorn,jdbcType=VARCHAR},
      teacher_job = #{record.teacherJob,jdbcType=VARCHAR},
      teacher_graduation = #{record.teacherGraduation,jdbcType=VARCHAR},
      teacher_position = #{record.teacherPosition,jdbcType=VARCHAR},
      teacher_research = #{record.teacherResearch,jdbcType=VARCHAR},
      teacher_scientific_research = #{record.teacherScientificResearch,jdbcType=VARCHAR},
      teacher_award_introduction = #{record.teacherAwardIntroduction,jdbcType=VARCHAR},
      teacher_img = #{record.teacherImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>