<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.professional_website.dao.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.turing.professional_website.entity.Team" >
    <id column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_introduction" property="teamIntroduction" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapWithTeacher" type="com.turing.professional_website.entity.Team">
    <id column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_introduction" property="teamIntroduction" jdbcType="VARCHAR" />
    <collection property="teachers" javaType="java.util.List" ofType="com.turing.professional_website.entity.Teacher">
      <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
      <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <resultMap id="BaseResultMapWithTeacherAchievementMemberEnvironment" type="com.turing.professional_website.entity.Team">
    <id column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_introduction" property="teamIntroduction" jdbcType="VARCHAR" />
    <collection property="teachers" javaType="java.util.List" ofType="com.turing.professional_website.entity.Teacher">
      <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
      <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    </collection>
    <collection property="teamMembers" javaType="java.util.List" ofType="com.turing.professional_website.entity.TeamMember">
      <id column="member_id" property="memberId" jdbcType="INTEGER" />
      <result column="member_name" property="memberName" jdbcType="VARCHAR"/>
    </collection>
    <collection property="teamAchievements" javaType="java.util.List" ofType="com.turing.professional_website.entity.TeamAchievement">
      <id column="achievement_id" property="achievementId" jdbcType="INTEGER" />
      <result column="achievement_content" property="achievementContent" jdbcType="VARCHAR"/>
      <collection property="teamAchievementPhotos" javaType="java.util.List" ofType="com.turing.professional_website.entity.TeamAchievementPhoto">
        <id column="photo_id" property="photoId" jdbcType="INTEGER"/>
        <result column="photo_path" property="photoPath" jdbcType="VARCHAR"/>
      </collection>
    </collection>
    <collection property="teamEnvironments" javaType="java.util.List" ofType="com.turing.professional_website.entity.TeamEnvironment">
      <id column="environment_id" property="environmentId" jdbcType="INTEGER"/>
      <result column="environment_path" property="environmentPath" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    team_id, team_name, team_introduction
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.turing.professional_website.entity.TeamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team
    where team_id = #{teamId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.professional_website.entity.TeamExample" >
    delete from team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.professional_website.entity.Team" >
    <selectKey resultType="java.lang.Integer" keyProperty="teamId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into team (team_id, team_name, team_introduction
      )
    values (#{teamId,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR}, #{teamIntroduction,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.turing.professional_website.entity.Team" >
    <selectKey resultType="java.lang.Integer" keyProperty="teamId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      team_id,
      <if test="teamName != null" >
        team_name,
      </if>
      <if test="teamIntroduction != null" >
        team_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{teamId,jdbcType=INTEGER},
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamIntroduction != null" >
        #{teamIntroduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.professional_website.entity.TeamExample" resultType="java.lang.Integer" >
    select count(*) from team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update team
    <set >
      <if test="record.teamId != null" >
        team_id = #{record.teamId,jdbcType=INTEGER},
      </if>
      <if test="record.teamName != null" >
        team_name = #{record.teamName,jdbcType=VARCHAR},
      </if>
      <if test="record.teamIntroduction != null" >
        team_introduction = #{record.teamIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update team
    set team_id = #{record.teamId,jdbcType=INTEGER},
      team_name = #{record.teamName,jdbcType=VARCHAR},
      team_introduction = #{record.teamIntroduction,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.professional_website.entity.Team" >
    update team
    <set >
      <if test="teamName != null" >
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamIntroduction != null" >
        team_introduction = #{teamIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.professional_website.entity.Team" >
    update team
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_introduction = #{teamIntroduction,jdbcType=VARCHAR}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <select id="selectTeamList" resultMap="BaseResultMapWithTeacher">
    select * from team
  </select>
  <select id="selectTeamById" resultMap="BaseResultMapWithTeacherAchievementMemberEnvironment">
SELECT * FROM team LEFT JOIN team_teacher  ON team.`team_id`=team_teacher.`team_id` LEFT JOIN teacher ON team_teacher.`teacher_id`=teacher.`teacher_id` LEFT JOIN team_member ON team.`team_id`=team_member.`team_id`
LEFT JOIN team_environment ON team.`team_id`=team_environment.`team_id` LEFT JOIN team_achievement ON team_achievement.`team_id`=team.`team_id`
LEFT JOIN team_achievement_photo ON team_achievement.`achievement_id`=team_achievement_photo.`ahievement_id` WHERE team.`team_id`=#{TeamId}
  </select>
</mapper>